<!doctype html>
<html>
    <% var metadata = webpackConfig.metadata %>
    <head>
        <meta charset="utf-8">
        <title>首页</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no, email=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <!-- uc强制竖屏 -->
        <meta name="screen-orientation" content="portrait">
        <meta name="full-screen" content="yes">
        <meta name="browsermode" content="application">
        <!-- QQ强制竖屏 -->
        <meta name="x5-orientation" content="portrait">
        <meta name="x5-fullscreen" content="true">
        <meta name="x5-page-mode" content="app">
<!--    <link href="<%= metadata.host %>/style.css" rel="stylesheet" type="text/css" /> -->
    </head>
    <body>
        <div id="app"></div>
        <script src="<%= metadata.host %>/js/common.js?v=<%= new Date().getTime() %>"></script>
        <script src="<%= metadata.host %>/js/index.js?v=<%= new Date().getTime() %>"></script>
    </body>
</html>
