@charset "UTF-8";
.m-header { text-align: center; font-size: 18px; color: #333; display: flex; flex-flow: row; justify-content: center;
	a { padding: 10px 20px; color: #333;
		&.active { background: green; color: #fff; }
	}
}